<div class='top_image'><%= image_tag asset_path("travel.png", alt: "") %></div>

<div class='top_image'><%= image_tag asset_path("cart.png", alt: "") %></div>

<div class='top_image'><%= image_tag asset_path("box.png", alt: "") %></div>
