<div class='top_image'><img src="/assets/travel.png" alt=""></div>

<div class='top_image'><img src="/assets/cart.png" alt=""></div>

<div class='top_image'><img src="/assets/box.png" alt=""></div>
