<div uk-parallax="opacity: 0,1"><img src="/assets/travel.png" alt=""></div>

<div uk-parallax="opacity: 0,1"><img src="/assets/cart.png" alt=""></div>

<div uk-parallax="opacity: 0,1"><img src="/assets/box.png" alt=""></div>
