/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require jquery.raty.css
 *= require_self
 */
 @import "uikit.min.css";

.uk-navbar{
  background-color: #6a425c !important;
}
.uk-navbar li a{
  color: white !important;
}
.uk-offcanvas-bar{
  background-color: #6a425c !important;
}
.container{
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem;
}
.top_image{
  width: 20rem;
}
.uk-text-lead{
  border-bottom: 3px dashed gray;
}
.uk-container{
  padding-top: 1rem;
}
.review_list{
  list-style: none;
}
input::placeholder {
  color: rgb(185, 185, 185);
}
.uk-label-danger{
  font-size: 0.5rem;
  margin-right: 0.5rem;
}
.link_text{
  color: white;
}
.link_text:hover{
  color: white;
  text-decoration: none;
}
.order_state{
  display: inline;
}
